@use "../../components/styles/variables" as *;
@use "sass:color";
.sidebar{
    background-color: $surface-color;
    border-right: 1px solid $border-color;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: $spacing-lg;
    gap: $spacing-xxl;  // create space between the brand and the nav links
}

.sidebar__brand{
    text-align: center;

    h2{
        color: $text-primary;
        font-size: 1.5rem;  // 24px
    }
}

.sidebar__nav{
    display: flex;
    flex-direction: column;
    gap: $spacing-md;  // Consistent spacing between links
}

.sidebar__link{
    color: $text-secondary;
    text-decoration: none;
    font-weight: $font-weight-medium;
    font-size: $font-size-base;
    padding: $spacing-md $spacing-lg;
    border-radius: $border-radius-md;
    transition: $transition-base;

    &:not(.sidebar__link--active):hover{
        background-color: $bg-color;
        color: $text-primary;
    }

    &--active{
        background-color: $primary-color;
        color: $surface-color;

        &:hover{
            background-color: color.scale($primary-color, $lightness: -5%);
        }
    }
}