

.chooseUs-main{
    margin-top: 5rem;
    .Wrapper{
        h1{
            text-align: center;
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 2rem;
            
            span{
                color: #601902
            }
        }
        .card{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 2rem ;


            .card-row{
               i{
                font-size: 2rem;
                color: #6a2f2f
               }
               h3{
                font-size: 1.5rem;
                font-weight: 600;
                padding-bottom: 1rem;
               }

               p{
                strong{
                    font-weight: 500;
                }
               }

            }

        }
    }
}