
@font-face{
    font-family: 'mainFont';
    src: url('../../assets/font/Lexend-VariableFont_wght.ttf');
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'mainFont';


    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        

         .nav-link {
            text-decoration: none;
            padding: 8px 16px;
            color: #333;
        }

        .nav-link.active {
            border: 1px solid #000;
            border-radius: 4px;
        }
    }
    
}

